In [4]:
import pandas as pd

In [5]:
# CSV File Name
wine_data = "Data/winemag-data-130k-v2.csv"

In [6]:
# Convert to DataFrame
wine_df = pd.read_csv(wine_data, encoding = 'latin-1')

In [7]:
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OâKeefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [22]:
mean = wine_df['points'].groupby(wine_df['country']).mean()

mean_df = pd.DataFrame({"Average Score by Country":mean})

In [24]:
mean_df

                        Average Score by Country
country
Argentina                              86.710263
Armenia                                87.500000
Australia                              88.580507
Austria                                90.101345
Bosnia and Herzegovina                 86.500000
Brazil                                 84.673077
Bulgaria                               87.936170
Canada                                 89.369650
Chile                                  86.493515
China                                  89.000000
Croatia                                87.219178
Cyprus                                 87.181818
Czech Republic                         87.250000
Egypt                                  84.000000
England                                91.581081
France                                 88.845109
Georgia                                87.686047
Germany                                89.851732
Greece                                 87.283262
Hungary                                89.191781
India                                  90.222222
Israel                                 88.471287
Italy                                  88.562231
Lebanon                                87.685714
Luxembourg                             88.666667
Macedonia                              86.833333
Mexico                                 85.257143
Moldova                                87.203390
Morocco                                88.571429
New Zealand                            88.303030
Peru                                   83.562500
Portugal                               88.250220
Romania                                86.400000
Serbia                                 87.500000
Slovakia                               87.000000
Slovenia                               88.068966
South Africa                           88.056388
Spain                                  87.288337
Switzerland                            88.571429
Turkey                                 88.088889
US                                     88.563720
Ukraine                                84.071429
Uruguay                                86.752294